* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: blue;
    font-size: 14px;
    display: inline-block;
}

p {
    margin: 0px;
}

img {
    max-width: 100%;
    height: 100%;
}

ul,
ol {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

i {
    color: #CF261A;
}

figure {
    margin: 0px;

}

.btn-1 {
    background-color: #CF261A;
    border-radius: 20px;
    display: inline-block;
}

.btn-1:hover {
    background-color: #AE0E02;
}

.btn-1 a {
    color: aliceblue;
    padding: 10px 30px;
    display: inline-block;
}

.btn-2 {
    background-color: #171B25;
    border-radius: 30px;
}

.btn-2 {
    color: aliceblue;
    padding: 20px 50px;
    display: inline-block;
}

.btn-2:hover {
    background-color: aliceblue;
    color: #CF261A;
}

.container{
    padding-left:15px;
    padding-right:15px;
}
.row{
    margin-left:-15px;
    margin-right:-15px;
}
.row>*{
    padding-left:15px;
    padding-right:15px;
}
.header .social-icon i {
    color: #CF261A;
}

.header .social-icon i:hover {
    color: #000;
}

.header .social-details i {
    color: #CF261A;
}

.header .header-top{
    display: flex;
    align-items: center;
}

.header .logo {
    width: 150px;
}

.header .navbar .navbar-nav .nav-item .nav-link {
    color: black;
    font-size: 15px;
    padding: 0px 10px;
    margin-left: 5px;
    position: relative;
}

.header .navbar .navbar-nav .nav-item .nav-link:hover {
    color: #CF261A;
}

.header .navbar .navbar-nav .nav-item .nav-link::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 0%;
    height: 2px;
    background-color: #CF261A;
    transition: all .3s ease-in-out;
}

.header .navbar .navbar-nav .nav-item .nav-link:hover::before {
    content: "";
    width: 100%;
    transition: all .3s ease-in-out;
}

.header .navbar .navbar-nav .nav-item .defult {
    color: #CF261A;
}

.header .navbar .navbar-nav .nav-item .defult::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 2px;
    background-color: #CF261A;
    transition: all .3s ease-in-out;
}

.header .navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item:hover {
    background-color: #CF261A;
    color: aliceblue;

}

.header .navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item {
    padding: 15px 20px;
    border-bottom: 1px solid #808080;
}

.header .navbar .navbar-nav .nav-item .show {
    padding: 0px;
    overflow: hidden;
}

/* header end */




/* ----------------------------------- nav bar------------------------------------------ */
/* .logo_img{
    width: 100px;
}
.nav_service{
    border-bottom: 2px solid red;
    color: red !important;
}
.nav_hover:hover{
    border-bottom: 2px solid red;
    color: red !important;

}
.nav_hover_dropdown:hover{
    border-bottom: 2px solid red;
    color: red !important;

}
.dropdown:hover .dropdown-menu{
    display: block;
} */


/* ------------------------------ main------------------------------------------------ */

.main1{
    width: 100%;
    height: 60vh;
    /* border: 1px solid red; */
    background-image:linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url('../img/electronic-technician-repair-damaged-smartphone-in-JKEZ8L4.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main1 p{
    font-family: 'Oswald', sans-serif;
    font-size: 5em;
    color: white;

}
.main1 hr{
    width: 100px;
    border: 4px solid rgb(193, 37, 29);
}

/* ---------------------------- with_us------------------------------------------ */
.choose_service{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0px;
}

.choose_service hr{
    width: 100px;
    border: 2px solid red;
}

/* --------------------------------- service section ------------------------------------ */
.service_text_div h1{
    font-family: 'Oswald', sans-serif;


}
.service_text_div hr{
    width: 100px;
    margin: 20px auto;
    border: 2px solid red;

}
.service_img{
    width: 80px;
    margin-bottom: 20px;
}
.service_btn_div{
    margin-top: 40px;
    /* border: 1px solid red; */
}
.h_div{
    transition: all 0.5s;
}
.h_div:hover{
    box-shadow: -18px -18px red;
}
.h_div hr{
    width: 100px;
    margin: 20px auto;
    border: 2px solid red;

}


/* ----------------------------- repair section ------------------------------------- */
.repair_section{
    margin: 100px 0px;
}
.repair_right_div{
    padding-top: 40px;
    padding-left: 40px;
}

.repair_right_div h1{
    font-family: 'Oswald', sans-serif;


}


.repair_right_div hr{
    width: 100px;
    border: 2px solid red;

}

.repair_img{
    border-radius: 80px;
    width: 90px;
}

.repair_card{
    padding: 20px 0px;
}
.repair_card_bg{
    background-color: rgb(230, 249, 250);
}
.repair_card:hover{
    border: 1px solid red !important;
}

.repair_card hr{
    width: 100px;
    margin: 20px auto;
    border: 2px solid red;

}

/* ----------------------------- benefit section ------------------------------------------- */
 

/* -------------------------- footer section -------------------------------------- */
li {
    list-style: none;
}

.useful-link h2 {
    padding-bottom: 15px;
    font-size: 20px;
    font-weight: 600;
}

.useful-link img {
    padding-bottom: 15px;
}

.use-links {
    line-height: 32px;
}

.use-links li i {
    font-size: 14px;
    padding-right: 8px;
    color: #898989;
}

.use-links li a {
    color: #303030;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
}

.use-links li a:hover {
    color: #CF261A;
}

a {
    text-decoration: none;
}

/* footer section end */

@media (max-width: 768px) {
    /* comman class */
    .btn-1 {
        background-color: #CF261A;
        border-radius: 10px;
        display: inline-block;
        margin: 0px;
    }
    
    .btn-1:hover {
        background-color: #AE0E02;
    }
    
    .btn-1 a {
        color: aliceblue;
        padding: 8px 15px;
        display: inline-block;
    }
    
    .btn-2 {
        background-color: #171B25;
        border-radius: 10px;
    }
    
    .btn-2 {
        color: aliceblue;
        padding: 10px 20px;
        display: inline-block;
    }
    
    .btn-2:hover {
        background-color: aliceblue;
        color: #CF261A;
    }
    /* comman class */

    /* header */

    .header .header-top{
        display: none;
    }
    .header .logo {
        width: 100px;
    }
    .header .navbar-toggler{
        border: none;
        font-size: 20px;
    }
    .header .navbar-toggler span{
        color: #CF261A;
    }
    .header .btn-1{
        display: none;
    }
    .header .navbar-toggler:focus{
        outline: none;
        box-shadow: none;
    }
    .header .navbar .navbar-nav .nav-item .nav-link{
        font-size: 20px;
        margin-top: 10px;
        padding: 10px;
    }
    .header .navbar .navbar-nav .nav-item .nav-link:hover{
        background-color: #CF261A;
        color: #fff;
    }

    .header .navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item{
        font-size: 20px;
    }
    .navbar-collapse {
        flex-basis: 100%;
        flex-grow: 1;
        align-items: center;
        position: absolute;
        top: 100%;
        left: 0px;
        z-index: 9;
        background-color: #ffffff;
        width: 100%;
        height: auto;
        min-height: 300px;
    }

    .header .navbar .navbar-nav .nav-item .defult{
        background-color: #CF261A;
        color: #fff;
    }

    .header .navbar .navbar-nav .nav-item .defult::after {
        content: "";
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 0px;
        height: 2px;
        background-color: #CF261A;
        transition: all .3s ease-in-out;
    }

    .header .navbar .navbar-nav .nav-item .nav-link:hover::before {
        content: "";
        width: 0%;
        transition: all .3s ease-in-out;
    }
    
    .header .navbar .navbar-nav .nav-item .defult {
        color: #fff;
        padding: 15px;
    }
    
    /* header end */

    /* banner */
    .banner .banner-block{
        padding: 50px 0px;
    }
    .banner .banner-title h2 {
        font-size: 43px;
        color: aliceblue;
        line-height: 1.2;
        margin-bottom: 10px;
        text-align: center;
    }
    .banner .banner-content p{
        font-size: 15px;
        margin-bottom: 10px;
        text-align: center;
    }
    .banner .banner-btn{
        display: flex;
        justify-content: center;
    }
    /* banner end */

    /* Fixman-services */
    .Fixman-services .card{
        margin-bottom: 15px;
    }
    /* Fixman-services end*/

    /* benefits */
    .benefits .benefits-img img{
        height: auto;
        margin-bottom: 50px;
    }
    /* benefits end */

     /* benefits */
     .benefits .benefits-content{
        margin-bottom: 50px;
    }
    /* benefits end */

    /* process */

    .process .process-img{
        margin-bottom: 50px;
    }

    /* process end */

    /* reviews */
    .reviews .reviews-card{
        margin-bottom: 20px;
    }

    /* reviews end */

    .footer{
        width: 100%;
    }
}
